*{
  margin:0;
  padding: 0;
}

.aside{
  width: 500px;
}
.blob1{
  animation: backforth 3s infinite;
}
.blob2{
  animation: backforth 3.5s 200ms infinite;
}
.blob3{
  animation: backforth 5s 30ms infinite;
}

@keyframes backforth {
    0% {transform: translate(0);}
    50%{transform: translate(-10px);}
    100% {transform: translate(0);}

  
}
.aboutMeTextContainer{
  animation: comeIn ease-in .5s;
}
@keyframes comeIn {
  0%{transform: translate(-300px);}
  100%{transform: translate(0);}
}

 .asideContainer{
  width: 70%;
  display: none;
 }
 .linkHover:hover{
  animation: hoverLink linear 2s infinite;
 }

@keyframes hoverLink {
  0%{transform: rotate(0) translate(0);}
  25%{transform: rotate(.2deg) translate(2px,-2px);
  }
  75%{transform: rotate(-.2deg) translate(-2px, 2px);}
  100%{
  transform: rotate(0) translate(0);
  }
}
