*{
  margin:0;
  padding: 0;
}
body{
  overflow-x: hidden;
  background-color: #5F6FFF;
}
.fullDiv{
  width: 100%;
  height: 100dvh;
}
.header1{
  position: sticky;
  width: 100dvw;
  display: flex;
  z-index: 1;
  top: -200px;
}
.navLogo{
  position: fixed;
  top: 0;
  left: 0;
}
.navSelector{
  width: 100px;
}
.nav1{
  width: 700px;
  position: fixed;
  top: 0;
  right: 0;
}
.navContainer{
  width: 50%;
  display: flex;
}

.mainHeadPart{
  position: fixed;
  width: 100%;
  height: 85px;
  background-color: #FFE353;
}
.aside{
  width: 50%;
}
.blob1{
  animation: backforth 3s infinite;
}
.blob2{
  animation: backforth 3.5s 200ms infinite;
}
.blob3{
  animation: backforth 5s 30ms infinite;
}

@keyframes backforth {
    0% {transform: translate(0);}
    50%{transform: translate(-10px);}
    100% {transform: translate(0);}

  
}
.aboutMeTextContainer{
  animation: comeIn ease-in .5s;
  min-width: 271px;
  min-height: 220px;
  width: 25dvw;
  height: 20dvw;
  max-height: 300px;
  position: absolute;
  bottom: 4dvw;
  left: 0;
  line-height: 1.75em;
  color: rgb(255, 255, 255);
  overflow: scroll;
  display: flex;
  align-items: center;
  border-radius: 0 5px 5px 0;
  background-color: rgba(32, 32, 32, 0.122);
}
.aboutMeTextContainer>*{
  display: inline;
}
@keyframes comeIn {
  0%{transform: translate(-300px);}
  100%{transform: translate(0);}
}

 #asideBox{
  position: absolute;
  min-width: 750px;
  width: 65dvw;
  bottom: 0;
  left:0;
  z-index: -1;
 }
 .linkHover:hover .projectTextContainer{
  fill: #e6ca41;
 }
 .linkHover:hover *{
  animation: hoverLink linear 2s infinite;
 }
 .linkHover:hover .projectText{
  fill: rgb(217, 211, 211);
 }
 .linkHover:hover .textShadow{
  fill: rgb(255, 128, 60);
 }
@keyframes hoverLink {
  0%{transform: rotate(0) translate(0);}
  25%{transform: rotate(.2deg) translate(2px,-2px);}
  75%{transform: rotate(-.2deg) translate(-2px, 2px);}
  100%{
  transform: rotate(0) translate(0);
  }
}
.navSelectorContainer{
  width: 700px;
  height: 95px;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
.navSelectorContainer>*{
  height: 50px;
}
.rightAside{
  min-width: 350px;
  width: 30%;
  position: absolute;
  right: -5px;
  bottom: 50%;
}
.selfPortrait{
  position: absolute;
  width: 350px;
  bottom: 0;
  right: 0; 
  z-index: -2;
}
.JFDLink{
  width: 200px;
}

#RoleTitle, #nameContainer{
  transition: translate 0.5s;
}
.JFDLink:hover #RoleTitle, #nameContainer:hover{
  translate: 33px;
}

/* PROJECT PAGE */
.projectHeader{
  position: absolute;
  width: 1700px;
  right: 0;
  z-index:2;
}
.projectHeaderConainer{
    width: 1000px;
  height: 90px;
  z-index: 2;
  position: absolute;
  right: 0;
}
.iconBlob{
  position: absolute;
  left: 0;
  z-index: 4;
  width: 400px;
}
.sideBlob{
  height: 85dvh;
  position: absolute;
  left: 0;
  z-index: 3;
}

.projectBlob{
  width: 62dvw;
  min-width: 1000px;
  position: absolute;
  z-index: 1;
  right: 10%;
}
#hide, #projectDisplayContainer{
  display: none;
}

/* FOOTER */
.footer{
  position:absolute;
  bottom: -105%;
  z-index:333;
}

#contentPocket{
  display: none;
}

#strayFlow{
  width: 50px;
  position: absolute;
  right: 1100px;
  z-index: 3;
}

